body {
  margin: 0;
  padding: 0;
  background: white;
}

.container {
  text-align: center;
  padding: 10px 10px;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 10px;
  width: 20%;
  margin-left: 665px;
  
}

.title, .author {
  margin: 10px; 
}

.add-button {
  width: 15%;
  margin-left: 10px;
}

.name, .writer {
  margin: 0;
  margin-left: -75px;
}

.remove-button {
  margin-left: -89px;
}


